

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div {
    position: relative;
    height: 70vh;
    width: 500px;
    border: 2px dotted darkgray;
    margin: 0 auto;
    background-image: url(assets/17973871.jpg);
    background-size: contain;
    background-color: .5;
    border-radius: 10px;
    margin-top: 2rem;
}
button {
    display: grid;
    width: 150px;
    height: 50px;
    background-color: honeydew;
    border: 10px solid darkorange;
    box-shadow: 10px 5px darkgray;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bolder;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}

h1 {
    font-size: 1.4em;
    margin: 3rem 1em 0 1em;
    text-align: center;
    background-color: honeydew;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 10px 5px darkgray;
}
h2 {
    visibility: hidden;
}
.bild {
    display: flex;
    width: 350px;
    height: auto;
    margin: 2rem auto;
    /* padding-top: 3rem; */
    box-shadow: 10px 10px darkorange;
    border-radius: 10px;
    box-shadow: 10px 5px darkgray;
}
p {
    width: 150px;
    height: 30px;
    color: white;
}
